.main-home {
    display: flex;
    height: 100vh;
  }
  .home-menu {
    border-bottom: 100vh solid black;
    border-left: 200px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 60%;
  }

  .menu-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }